@import "tailwindcss";
@import "basecoat-css";

@theme inline {
    --font-sans:
        "Merriweather Sans", "Helvetica Neue", -apple-system, "Segoe UI", Roboto;

    --color-silver: #c0c0c0;
    --color-main: var(--main);
    --color-secondary-background: var(--secondary-background);
    --radius-base: 5px;
    --font-weight-base: 500;
    --font-weight-heading: 900;
}

:root {
    --background: #ffffff;
    --foreground: #ffffff;
    --primary: var(--main);
    --primary-foreground: #ffffff;
    --secondary: #ffffff;
    --secondary-foreground: var(--main);
    --muted: var(--main);
    --muted-foreground: #ffffff;
    --accent: var(--main);
    --accent-foreground: #ffffff;
    --border: var(--main);
    --input: var(--main);
    --ring: var(--main);
    --secondary-background: oklch(100% 0 0);
    --main: #652633;
    --site-foreground: #ffffff;
}

@layer base {
    html {
        overflow-x: clip;
        overflow-y: scroll;
    }
    body {
        font-weight: var(--font-weight-base);
        color: var(--site-foreground);
        overflow-x: clip;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: var(--font-weight-heading);
    }
}
main {
    text-shadow:
        0 1px 1px rgb(0 0 0 / 25%),
        0 0 8px rgb(255 255 255 / 12%);
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

@supports (background-clip: text) {
    main :is(h1, h2, h3, h4) {
        background-image: linear-gradient(
            to bottom,
            #ffffff 0%,
            #e4e4e4 50%,
            #c0c0c0 100%
        );
        background-clip: text;
        color: transparent;
        text-shadow: none;
        filter: drop-shadow(0 1px 1px rgb(0 0 0 / 25%));
    }
}

body,
.scrollbar {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #000000;
}

.scrollbar::-webkit-scrollbar {
    width: 16px;
}

.scrollbar::-webkit-scrollbar-track {
    background: var(--sb-track-color);
}

.scrollbar::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
    .scrollbar {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}
